
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 !important;
}


body {
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


#document {
  width: 98%;
  padding: 0px 0px 0px 0px;
  min-height: 100px;
  margin-top: 60px;
  margin-right: 2%;
  margin-left: 0px;
  position: absolute;
  overflow-y: visible;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #777777;
  margin: auto;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav>li>a:hover>span, .nav>li>a:focus>span, .nav>li>a>span {
    color: #777777;
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:29px !important}

div[data-type='container'] {
  margin-left: 20px;
  margin-right: auto;
}

div[data-type='container'] > * {
    margin-top: -15px;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

.btn:focus, a:focus {
  outline: none !important;
}

.driveListItem:hover {
  cursor: pointer;
}

.settings-page:hover {
  cursor: pointer;
}

div[data-depth='0']>div.panel>div.panel-heading>p:first-child {
  font-size: 150%;
  font-weight: bolder;
}

div[data-depth='1']>div.panel>div.panel-heading>p:first-child {
  font-size: 140%;
  font-weight: bold;
}

div[data-depth='2']>div.panel>div.panel-heading>p:first-child {
  font-size: 130%;
  font-weight: bold;
}

div[data-depth='3']>div.panel>div.panel-heading>p:first-child {
  font-size: 120%;
  font-weight: bold;
}

div[data-depth='4']>div.panel>div.panel-heading>p:first-child {
  font-size: 110%;
  font-weight: bold;
}

ul {
  margin-left: -25px;
}

#drive-list {
  margin-left: 0px;
  overflow-y:auto;
  max-height: 600px !important;
}

#settings-dialog .modal-body {
  min-height: 400px;
}

#settings-dialog .page {
  display: none;
}

#settings-dialog .page.active {
  display: inherit !important;
}


//Settings sidebar
